<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!--  -->
</head>
<body>
    <div id="app">
        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body form-inline">
                  <label>
                      Id:
                      <input type="text" v-model="id">
                  </label>
                  <label>
                      Name:
                      <input type="text" v-model="name">
                  </label>
                  <!-- 在vue中，使用事件绑定机制，为元素指定处理函数，如果加了小括号，就可以给函数传参了 -->
                  <input type="button" value="添加" class="btn btn-primary" @click="add">
                   

                  <label>
                      搜索名称关键字：
                      <input type="text" class="form-control" v-model="keywords" v-focus v-color="'green'">
                  </label>
              </div>
        </div>
        


        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr v-for="item in list" :key="item.id"> -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.ctime|dateFormat('')}} </td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>


    //    全局的过滤器，进行时间的格式化
    Vue.filter('dateFormat',function(dateStr,pattern){
        // 根据给定的时间字符串，得到特定的时间
        var dt=new Date(dateStr)
        var y=dt.getFullYear()
        var m=dt.getMonth()+1;
        var d=dt.getDate();

        // return y+'-'+m+'-'+'d';
        // return `${y}-${m}-${d}`

        if(pattern.toLowerCase()==='yyyy-mm-dd'){
            return `${y}-${m}-${d}`
        }else{
            var hh=dt.getHours()
            var mm=dt.getMinutes()
            var ss=dt.getSeconds()

            return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
        }
        
    })


    // 使用Vue.directive（）定义全局的指令
    // 参数1是指令名称，定义时不需要加v-前缀，但调用时需要；参数2是一个对象，这个对象有一些指令相关的函数，这些函数在特定阶段可以执行相关操作

    Vue.directive('focus',{
        // 每当指令绑定到元素上时，会立即执行这个bind函数，只执行一次
        // 每个函数第一个参数永远是el表示被绑定了指令的那个元素，这个el元素是一个原生的js对象
        bind:function(el){
        // 在元素刚绑定了指令的时候，还没有插入到dom中，这个时候调用focus方法没有用，因为一个元素只有插入dom之后，才能获取焦点
            // el.focus()
        },
        // inserted表示元素插入dom中的时候，会执行inserted函数[触发1次]
        inserted:function(el){
            el.focus()
            // 和JS行为有关的操作，最好在inserted中去执行，防止js行为不生效
        },
        // 当VM更新时，会执行此函数，可能会触发多次
        updated:function(el){

        }
    })





    // 自定义一个设置字体颜色的指令
    Vue.directive('color',{
        // 样式，只要通过指令绑定了元素，不管这个元素是否插入页面中，这个元素肯定有了一个内联样式，
        // 将来元素肯定会显示到页面中
        bind:function(el,bingling){
            // el.style.color='red'
        // 当有了第二个参数bingling
            el.style.color=bingling.value;
        }
    })

        var vm=new Vue({
            el:'#app',
            data:{
                id:'',
                name:'',
                keywords:'',
                list:[
                    {id:1,name:'奔驰',ctime:new Date()},
                    {id:2,name:'宝马',ctime:new Date()}
                ]
            },
            methods:{
                add(){
                    var car={id:this.id,name:this.name,ctime:new Date()}
                    this.list.push(car)
                    // 点击添加以后，输入框里的数据清空
                    this.id=this.name=''
                },
                del(id){
                    // 根据id删数据；
                    // 如何根据id找到要删除着项的索引，如果找到了索引直接调用splice方法
                    // this.list.some((item,i)=>{
                    //     if(item.id==id){
                    //         this.list.splice(i,1);
                    //         // 在数组的some方法中，如果return true，就会立即终止这个数组的后续循环
                    //         return true;
                    //     }
                    // })


                    // 法二
                    var index=this.list.findIndex(item=>{
                        if(item.id==id){
                            return true;
                        }
                    })
                    this.list.splice(index,1);


                },
                search(keywords){
                    var newlist=[]
                    // this.list.forEach(item => {
                    //     // 空字符串的index是0，不等于-1
                    //     if(item.name.indexOf(keywords)!=-1){
                    //         newlist.push(item)
                    //     }
                    // });
                    // return newlist;

                    // 法二
                    return newlist=this.list.filter(item => {
                        if(item.name.includes(keywords)){
                            return item;
                        }
                        
                    });
                }


            }
        });
    </script>
</body>
</html>

